{% block upload_image_widget %}
<div class='upload_image_wrapper'>
    <h2>Upload a photo here</h2>
    <img id="{{ upload_widget_id}}_img" src=''>
    <form id="{{ upload_widget_id }}_form"  class="upload_image_form" action="upload_image" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name="image_id" value="{{ upload_widget_id }}">
        <input type='hidden' name="session_id" value="{{ session_id }}">
        <input type="file" name="image_file" id="{{ upload_widget_id }}_file">
	<input id="image_upload_submit_{{ upload_widget_id }}" type="submit" value="Upload">
    </form>
</div>
{% endblock upload_image_widget %}
